PORT=
LEADS_CODE_TTL_HOURS=

DATABASE_URL=

BULLMQ_QUEUE_NAME=
BULLMQ_REDIS_URL=
WORKER_CONCURRENCY=

WAHA_API_KEY=
WAHA_BASE_URL=
OPENAI_API_KEY=

CORS_ORIGIN=*
JWT_SECRET=

META_PIXEL_ID=
META_ACCESS_TOKEN=
META_API_VERSION=
